html, body{
  margin:0;
  padding:0;
}

body{
  background: url("https://fsa.zobj.net/crop.php?r=X4wyCeJtAf1AtbOnf5fL34MaHhNrmL-REL36lnr0PKTVR3IH9XnDv6MPgOSJ0SE3uTc4jCQhj-NH3O845XWgTLhw2puBf6b6_55atJDVvx7_CWg96Zh9HTCsKMhAGW3yYXoeM_aVjHHFD_TW81jFTMERci8HS78aMuRCIF-wOgKTlgnU1w6PD4Zbs2ffYtOZCSq3sjqwHqUzIvei");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: 'Rubik', sans-serif;
}
.caja_titulo{
  height: 80px;
  padding-top: 30px;
  width: 100%;
  background-color: #1e7d31;
  color: #c1c1c3;
  text-align: center;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
}
button{
  background-color: #094e17;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 30vw;
  height: 30px;
  color: #fff;
  font-weight: bolder;
  margin-top: 10px;
}

button:hover{
  background-color: #e1e1e1;
  color: #000;
  
}
.subtitulote{
  margin:auto;
  font-size: 45px;
}
.contenido_central{
  position: relative;
  margin-top: 30px;
  width: 80%;
  margin:auto;
  background: linear-gradient(45deg, rgb(18, 122, 73), #0000be8f);
}

#introductorio{
  text-align: center;
  font-size: 30px;
  font-style: bold;
  color: #e1e1e1;
}

.caja_integrantes{
  background-color: #000;
  color: #fff;
  font-size: 24px;

}

.central{
  font-size: 25px;
  color: #61190e;
  text-decoration: underline;
  font-style: bold;
}

.listado{
  font-size: 37px;
  color: #ff2321;
  background-color: rgba(0,0,0,0.3);
  font-style: bold;
  text-decoration: underline;
}

img{
  margin: auto;
  width: 40%;
  height: 320px;
  align-self: center;
  padding-left: 10%;
}
